html {
background-color: lightgray;
}

#ogolny {
    margin-left: 20px;
    margin-right: 20px;
}

#logo {
    color: red;
   font-size: 40px; 
}
#logo2 {
    color: lightskyblue;
    font-size: 40px;
}